.questionsTitle {
  display: flex;
  align-items: center;
  gap: 24px;
}

.questionWrapper {
  padding: 0 24px 24px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.questionItem {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  border: 1px solid var(--color-border);
  border-radius: 12px;
  padding: 16px;
  justify-content: space-between;
  gap: 16px;
}

.deleteBtn {
  align-self: flex-end;
}

.questionsErrorsMessage {
  color: var(--color-text-error);
}
