@import url("../styles/index.css");

:root {
  --max-width: 1366px;
}

html,
body {
  overflow-x: hidden;
  margin: 0;
}
body {
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: var(--color-background-primary);
  color: var(--color-text-primary);
}
