@import url(./tokens.css);

.body-l-bold {
  font-size: var(--font-size-body-l);
  line-height: var(--line-height-body);
  font-weight: var(--font-weight-bold);
}

.body-l-medium {
  font-size: var(--font-size-body-l);
  line-height: var(--line-height-body);
  font-weight: var(--font-weight-medium);
}

.body-l-regular {
  font-size: var(--font-size-body-l);
  line-height: var(--line-height-body);
  font-weight: var(--font-weight-regular);
}

.body-m-bold {
  font-size: var(--font-size-body-m);
  line-height: var(--line-height-body);
  font-weight: var(--font-weight-bold);
}

.body-m-medium {
  font-size: var(--font-size-body-m);
  line-height: var(--line-height-body);
  font-weight: var(--font-weight-medium);
}

.body-m-regular {
  font-size: var(--font-size-body-m);
  line-height: var(--line-height-body);
  font-weight: var(--font-weight-regular);
}

.body-s-bold {
  font-size: var(--font-size-body-s);
  line-height: var(--line-height-body);
  font-weight: var(--font-weight-bold);
}

.body-s-medium {
  font-size: var(--font-size-body-s);
  line-height: var(--line-height-body);
  font-weight: var(--font-weight-medium);
}

.body-s-regular {
  font-size: var(--font-size-body-s);
  line-height: var(--line-height-body);
  font-weight: var(--font-weight-regular);
}
