@import url(./tokens.css);

.caption-l-bold {
  font-size: var(--font-size-caption-l);
  line-height: var(--line-height-caption);
  font-weight: var(--font-weight-bold);
}

.caption-l-medium {
  font-size: var(--font-size-caption-l);
  line-height: var(--line-height-caption);
  font-weight: var(--font-weight-medium);
}

.caption-l-regular {
  font-size: var(--font-size-caption-l);
  line-height: var(--line-height-caption);
  font-weight: var(--font-weight-regular);
}

.caption-m-bold {
  font-size: var(--font-size-caption-m);
  line-height: var(--line-height-caption);
  font-weight: var(--font-weight-bold);
}

.caption-m-medium {
  font-size: var(--font-size-caption-m);
  line-height: var(--line-height-caption);
  font-weight: var(--font-weight-medium);
}

.caption-m-regular {
  font-size: var(--font-size-caption-m);
  line-height: var(--line-height-caption);
  font-weight: var(--font-weight-regular);
}
