[data-theme="dark"] {
  --color-surface-primary: #ef233c;
  --color-background-inverse: #ffffff;
  --color-background-primary: #1e1e1e;
  --color-background-secondary: #2b2b2b;
  --color-text-inverse: #ffffff;
  --color-text-primary: #e2e3e4;
  --color-text-secondary: #c2c2c2;
  --color-text-error: #ff5252;
  --color-accent: #ff5722;

  /* Tokens do botão primário para dark mode */
  --color-button-primary-background: #ff7043;
  --color-button-primary-background-hover: #e64a19;
  --color-button-primary-background-active: #d84315;
  --color-button-primary-background-disabled: #ffc1a1;
  --color-button-primary-text: #ffffff;
  --color-button-primary-text-disabled: #9e9e9e;

  /* Tokens do botão secundário para dark mode */
  --color-button-secondary-background: #2b2b2b;
  --color-button-secondary-background-hover: #424242;
  --color-button-secondary-background-active: #616161;
  --color-button-secondary-background-disabled: #3a3a3a;
  --color-button-secondary-text: #e2e3e4;
  --color-button-secondary-text-disabled: #9e9e9e;

  /* Tokens do botão terciário para dark mode */
  --color-button-tertiary-background: transparent;
  --color-button-tertiary-background-hover: #424242;
  --color-button-tertiary-background-active: #616161;
  --color-button-tertiary-text: #e2e3e4;
  --color-button-tertiary-text-hover: #ffffff;
  --color-button-tertiary-text-disabled: #9e9e9e;

  --color-icon-neutral: #757575; /* Cor neutra para ícones no tema escuro */
  --color-icon-primary: #e2e3e4; /* Cor padrão no modo escuro */
  --color-icon-secondary: #757575; /* Ícones menos importantes ou desativados */
  --color-icon-hover: #ffffff; /* Cor ao passar o mouse no modo escuro */
  --color-icon-active: #ff7043; /* Cor de ícones ativos no modo escuro */
  --color-icon-disabled: #616161; /* Ícones desativados no modo escuro */

  --color-link: #8ab4f8; /* Azul claro para links no modo escuro */
  --color-link-hover: #ffa726; /* Laranja claro para hover */
  --color-link-active: #ff7043; /* Laranja vibrante para ativo */
  --color-link-visited: #ce93d8; /* Roxo claro para links visitados */
  --color-link-disabled: #757575;

  --color-background-input: #1e1e1e; /* Cinza escuro para fundo do input no modo escuro */
  --color-background-input-disabled: #333333; /* Cinza mais escuro para input desabilitado no dark */
  --color-border: #555555; /* Cinza para borda no modo escuro */
  --color-border-input: #555555; /* Cinza para borda no modo escuro */
  --color-border-input-focus: #7986cb; /* Azul claro para borda ao focar no modo escuro */
  --color-border-input-error: #ff5252; /* Vermelho claro para borda de erro no dark mode */
  --color-border-input-disabled: #757575; /* Cinza escuro para input desabilitado no modo escuro */

  --color-overlay-modal: rgba(0, 0, 0, 0.7);
}
